.field{
    width: 740px;
    height: 260px;
    background-color: lightgray;
    padding: 10px;
    .cell{
        width: 79px;
        height: 79px;
        margin: 0 1px 1px 0;
        background-color: #fff;
    }
}