<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="dead">
        <div 
        class="figure" 
        *ngFor="let figure of playerColor == 'white' ? dead.white : dead.black"
        [ngStyle]="{'background-image':'url('+figure.Img+')'}"
        >
        </div>
    </div>
    <div class="field">
        <div class="row" *ngFor="let row of rows">
            <div class="cell" 
            (click)="go(cell)"
            *ngFor="let cell of row" 
            [ngClass]="{'possible': possibleSteps.indexOf(cell.x+','+cell.y)>-1}"></div>
        </div>
        <div 
            class="figure" 
            *ngFor="let figure of figures"  
            [ngClass]="{'active':figure.active, 'd-none': !figure.alive}"
            [ngStyle]="{'left':figure.x*80+'px', 'top':figure.y*80+'px', 'background-image':'url('+figure.Img+')'}"
            (click)="take(figure)"
            >
        </div>
    </div>
    <div class="dead">
        <div 
        class="figure" 
        *ngFor="let figure of playerColor == 'white' ? dead.black : dead.white"  
        [ngStyle]="{'background-image':'url('+figure.Img+')'}"
        >
    </div>
</div>

