
<div class="container d-flex justify-content-center align-items-center">
    <form [formGroup]="chooseForm" class="d-flex flex-column">
            <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
                    <label  class="btn btn-secondary" [ngClass]="{'active': chooseForm.get('type').value == 'chess'}">
                      <input type="radio" value="chess" formControlName="type"> Шахматы
                    </label>
                    <label class="btn btn-secondary" [ngClass]="{'active': chooseForm.get('type').value == 'bingo'}" >
                      <input type="radio" value="bingo" formControlName="type"> Лото
                    </label>
            </div>
        <button class="btn btn-primary mb-2" (click)="create()">Создать игру</button>
        <button type="submit" class="btn btn-primary" (click)="choose()">Присоединиться к игре</button>
        <input type="text" class="form-control mt-2" formControlName="gameId" placeholder="ID игры">
        </form>    
</div>
