<!-- <div class="button d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Создать игру</button>
</div>
<div class="button d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Присоединиться к игре</button>
</div> -->
<div class="h-100 container d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column">
        <button type="submit" class="btn btn-primary mb-2">Создать игру</button>
        <button type="submit" class="btn btn-primary">Присоединиться к игре</button>
    </div>
</div>
