<div class="m-auto" *ngIf="cards?.length || myCards?.length">
    <div class="first mb-5">
        <bingo-card [current]="currentNumber" *ngFor="let card of cards" [cardId]="card.Id" [numbers]="card.Cells"></bingo-card>
    </div>
    <div class="barrel flex-center">
        <div class="btn btn-link">Назад</div>
        <div class="number flex-center">{{currentNumber}}</div>
        <div class="btn btn-link" (click)="next()">Далее</div>
    </div>
    <div class="second mt-5">
        <bingo-card [current]="currentNumber" *ngFor="let card of myCards" [cardId]="card.Id" [numbers]="card.Cells"></bingo-card>
    </div>  
</div>


