
<form>
        <div class="form-group d-flex justify-content-center mt-5">
            <label for="exampleInputInput">Логин</label>
            <input type="text" class="form-control ml-5" id="exampleInputInput">
        </div>
        <div class="form-group d-flex justify-content-center">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control ml-5" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group d-flex justify-content-center">
          <label for="exampleInputPassword1">Пароль</label>
          <input type="password" class="form-control ml-5" id="exampleInputPassword1">
        </div>
        <div class="button d-flex justify-content-center mt-2">
          <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
        </div>
</form>