
<form>
        <div class="row mb-2">
          <div class="col-2">
            <label for="exampleInputInput">Логин</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="exampleInputInput">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-2">
            <label for="exampleInputEmail1">Email</label>
          </div>
          <div class="col-10">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-2">
            <label for="exampleInputPassword1">Пароль</label>
          </div>
          <div class="col-10">
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
</form>